@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.p-0 {
  padding: 0px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.px-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.py-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.p-1 {
  padding: 5px !important;
}

.pt-1 {
  padding-top: 5px !important;
}

.pb-1 {
  padding-bottom: 5px !important;
}

.pr-1 {
  padding-right: 5px !important;
}

.pl-1 {
  padding-left: 5px !important;
}

.px-1 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.py-1, .btn {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.p-2, .form-control {
  padding: 10px !important;
}

.pt-2 {
  padding-top: 10px !important;
}

.pb-2 {
  padding-bottom: 10px !important;
}

.pr-2 {
  padding-right: 10px !important;
}

.pl-2 {
  padding-left: 10px !important;
}

.px-2 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.py-2, .home .banner .banner-image .image-name, .header .header-main-menu .mobile-nav li {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.p-3 {
  padding: 15px !important;
}

.pt-3 {
  padding-top: 15px !important;
}

.pb-3 {
  padding-bottom: 15px !important;
}

.pr-3 {
  padding-right: 15px !important;
}

.pl-3 {
  padding-left: 15px !important;
}

.px-3 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.py-3 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.p-4 {
  padding: 20px !important;
}

.pt-4 {
  padding-top: 20px !important;
}

.pb-4 {
  padding-bottom: 20px !important;
}

.pr-4 {
  padding-right: 20px !important;
}

.pl-4 {
  padding-left: 20px !important;
}

.px-4, .card-overview .overview-content {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.py-4, .card-overview {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.p-5, #service .service-item .service-icon, #service .service-item, .comments .comment-track .comment-item, .footer .footer-book {
  padding: 25px !important;
}

.pt-5 {
  padding-top: 25px !important;
}

.pb-5, .home .banner .banner-text h1 {
  padding-bottom: 25px !important;
}

.pr-5 {
  padding-right: 25px !important;
}

.pl-5 {
  padding-left: 25px !important;
}

.px-5, .home .banner .banner-image .image-name, .card-overview, .btn {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.py-5, .footer .footer-widgets .widget p, .footer .footer-widgets .widget {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.p-6 {
  padding: 30px !important;
}

.pt-6 {
  padding-top: 30px !important;
}

.pb-6 {
  padding-bottom: 30px !important;
}

.pr-6 {
  padding-right: 30px !important;
}

.pl-6 {
  padding-left: 30px !important;
}

.px-6 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.py-6, .footer .footer-copyright {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.p-7 {
  padding: 35px !important;
}

.pt-7 {
  padding-top: 35px !important;
}

.pb-7 {
  padding-bottom: 35px !important;
}

.pr-7 {
  padding-right: 35px !important;
}

.pl-7 {
  padding-left: 35px !important;
}

.px-7 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.py-7 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.p-8 {
  padding: 40px !important;
}

.pt-8 {
  padding-top: 40px !important;
}

.pb-8 {
  padding-bottom: 40px !important;
}

.pr-8 {
  padding-right: 40px !important;
}

.pl-8 {
  padding-left: 40px !important;
}

.px-8 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.py-8 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.p-9 {
  padding: 45px !important;
}

.pt-9 {
  padding-top: 45px !important;
}

.pb-9 {
  padding-bottom: 45px !important;
}

.pr-9 {
  padding-right: 45px !important;
}

.pl-9 {
  padding-left: 45px !important;
}

.px-9 {
  padding-left: 45px !important;
  padding-right: 45px !important;
}

.py-9 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}

.p-10 {
  padding: 50px !important;
}

.pt-10 {
  padding-top: 50px !important;
}

.pb-10 {
  padding-bottom: 50px !important;
}

.pr-10 {
  padding-right: 50px !important;
}

.pl-10 {
  padding-left: 50px !important;
}

.px-10, .section-image, .section-content {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.py-10, #service, .footer .footer-widgets {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.m-0 {
  margin: 0px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.mx-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.my-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.m-1 {
  margin: 5px !important;
}

.mt-1 {
  margin-top: 5px !important;
}

.mb-1 {
  margin-bottom: 5px !important;
}

.mr-1 {
  margin-right: 5px !important;
}

.ml-1 {
  margin-left: 5px !important;
}

.mx-1, .comments .dots .dot {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.my-1, .card-overview .overview-content h6 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.m-2 {
  margin: 10px !important;
}

.mt-2 {
  margin-top: 10px !important;
}

.mb-2, #service .service-item .service-icon, .footer .footer-widgets .widget .footer-menu li {
  margin-bottom: 10px !important;
}

.mr-2 {
  margin-right: 10px !important;
}

.ml-2 {
  margin-left: 10px !important;
}

.mx-2 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.my-2 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.m-3 {
  margin: 15px !important;
}

.mt-3 {
  margin-top: 15px !important;
}

.mb-3 {
  margin-bottom: 15px !important;
}

.mr-3, .btn {
  margin-right: 15px !important;
}

.ml-3 {
  margin-left: 15px !important;
}

.mx-3 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.my-3 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.m-4 {
  margin: 20px !important;
}

.mt-4 {
  margin-top: 20px !important;
}

.mb-4, .card-overview {
  margin-bottom: 20px !important;
}

.mr-4 {
  margin-right: 20px !important;
}

.ml-4 {
  margin-left: 20px !important;
}

.mx-4 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.my-4 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.m-5 {
  margin: 25px !important;
}

.mt-5 {
  margin-top: 25px !important;
}

.mb-5 {
  margin-bottom: 25px !important;
}

.mr-5 {
  margin-right: 25px !important;
}

.ml-5 {
  margin-left: 25px !important;
}

.mx-5 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.my-5 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.m-6 {
  margin: 30px !important;
}

.mt-6 {
  margin-top: 30px !important;
}

.mb-6, .footer .footer-widgets .widget h6 {
  margin-bottom: 30px !important;
}

.mr-6 {
  margin-right: 30px !important;
}

.ml-6 {
  margin-left: 30px !important;
}

.mx-6 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.my-6 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.m-7 {
  margin: 35px !important;
}

.mt-7 {
  margin-top: 35px !important;
}

.mb-7 {
  margin-bottom: 35px !important;
}

.mr-7 {
  margin-right: 35px !important;
}

.ml-7 {
  margin-left: 35px !important;
}

.mx-7 {
  margin-left: 35px !important;
  margin-right: 35px !important;
}

.my-7 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

.m-8 {
  margin: 40px !important;
}

.mt-8 {
  margin-top: 40px !important;
}

.mb-8 {
  margin-bottom: 40px !important;
}

.mr-8 {
  margin-right: 40px !important;
}

.ml-8 {
  margin-left: 40px !important;
}

.mx-8 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.my-8 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.m-9 {
  margin: 45px !important;
}

.mt-9 {
  margin-top: 45px !important;
}

.mb-9 {
  margin-bottom: 45px !important;
}

.mr-9 {
  margin-right: 45px !important;
}

.ml-9 {
  margin-left: 45px !important;
}

.mx-9 {
  margin-left: 45px !important;
  margin-right: 45px !important;
}

.my-9 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}

.m-10 {
  margin: 50px !important;
}

.mt-10 {
  margin-top: 50px !important;
}

.mb-10 {
  margin-bottom: 50px !important;
}

.mr-10 {
  margin-right: 50px !important;
}

.ml-10 {
  margin-left: 50px !important;
}

.mx-10 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.my-10 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.col-1 {
  width: calc(8.3333333333% * 1);
  padding: 0 10px;
}

.col-2 {
  width: calc(8.3333333333% * 2);
  padding: 0 10px;
}

.col-3 {
  width: calc(8.3333333333% * 3);
  padding: 0 10px;
}

.col-4 {
  width: calc(8.3333333333% * 4);
  padding: 0 10px;
}

.col-5 {
  width: calc(8.3333333333% * 5);
  padding: 0 10px;
}

.col-6 {
  width: calc(8.3333333333% * 6);
  padding: 0 10px;
}

.col-7 {
  width: calc(8.3333333333% * 7);
  padding: 0 10px;
}

.col-8 {
  width: calc(8.3333333333% * 8);
  padding: 0 10px;
}

.col-9 {
  width: calc(8.3333333333% * 9);
  padding: 0 10px;
}

.col-10 {
  width: calc(8.3333333333% * 10);
  padding: 0 10px;
}

.col-11 {
  width: calc(8.3333333333% * 11);
  padding: 0 10px;
}

.col-12 {
  width: calc(8.3333333333% * 12);
  padding: 0 10px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1160px !important;
}

.row {
  display: flex !important;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  flex: 0 0 100%;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 576px) {
  .col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 768px) {
  .col {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

@media (min-width: 0) {
  .col-xs-1 {
    width: calc(8.3333333333% * 1);
  }
  .col-xs-2 {
    width: calc(8.3333333333% * 2);
  }
  .col-xs-3 {
    width: calc(8.3333333333% * 3);
  }
  .col-xs-4 {
    width: calc(8.3333333333% * 4);
  }
  .col-xs-5 {
    width: calc(8.3333333333% * 5);
  }
  .col-xs-6 {
    width: calc(8.3333333333% * 6);
  }
  .col-xs-7 {
    width: calc(8.3333333333% * 7);
  }
  .col-xs-8 {
    width: calc(8.3333333333% * 8);
  }
  .col-xs-9 {
    width: calc(8.3333333333% * 9);
  }
  .col-xs-10 {
    width: calc(8.3333333333% * 10);
  }
  .col-xs-11 {
    width: calc(8.3333333333% * 11);
  }
  .col-xs-12 {
    width: calc(8.3333333333% * 12);
  }
}
@media (min-width: 576px) {
  .col-sm-1 {
    width: calc(8.3333333333% * 1);
  }
  .col-sm-2 {
    width: calc(8.3333333333% * 2);
  }
  .col-sm-3 {
    width: calc(8.3333333333% * 3);
  }
  .col-sm-4 {
    width: calc(8.3333333333% * 4);
  }
  .col-sm-5 {
    width: calc(8.3333333333% * 5);
  }
  .col-sm-6 {
    width: calc(8.3333333333% * 6);
  }
  .col-sm-7 {
    width: calc(8.3333333333% * 7);
  }
  .col-sm-8 {
    width: calc(8.3333333333% * 8);
  }
  .col-sm-9 {
    width: calc(8.3333333333% * 9);
  }
  .col-sm-10 {
    width: calc(8.3333333333% * 10);
  }
  .col-sm-11 {
    width: calc(8.3333333333% * 11);
  }
  .col-sm-12 {
    width: calc(8.3333333333% * 12);
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    width: calc(8.3333333333% * 1);
  }
  .col-md-2 {
    width: calc(8.3333333333% * 2);
  }
  .col-md-3 {
    width: calc(8.3333333333% * 3);
  }
  .col-md-4 {
    width: calc(8.3333333333% * 4);
  }
  .col-md-5 {
    width: calc(8.3333333333% * 5);
  }
  .col-md-6 {
    width: calc(8.3333333333% * 6);
  }
  .col-md-7 {
    width: calc(8.3333333333% * 7);
  }
  .col-md-8 {
    width: calc(8.3333333333% * 8);
  }
  .col-md-9 {
    width: calc(8.3333333333% * 9);
  }
  .col-md-10 {
    width: calc(8.3333333333% * 10);
  }
  .col-md-11 {
    width: calc(8.3333333333% * 11);
  }
  .col-md-12 {
    width: calc(8.3333333333% * 12);
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    width: calc(8.3333333333% * 1);
  }
  .col-lg-2 {
    width: calc(8.3333333333% * 2);
  }
  .col-lg-3 {
    width: calc(8.3333333333% * 3);
  }
  .col-lg-4 {
    width: calc(8.3333333333% * 4);
  }
  .col-lg-5 {
    width: calc(8.3333333333% * 5);
  }
  .col-lg-6 {
    width: calc(8.3333333333% * 6);
  }
  .col-lg-7 {
    width: calc(8.3333333333% * 7);
  }
  .col-lg-8 {
    width: calc(8.3333333333% * 8);
  }
  .col-lg-9 {
    width: calc(8.3333333333% * 9);
  }
  .col-lg-10 {
    width: calc(8.3333333333% * 10);
  }
  .col-lg-11 {
    width: calc(8.3333333333% * 11);
  }
  .col-lg-12 {
    width: calc(8.3333333333% * 12);
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    width: calc(8.3333333333% * 1);
  }
  .col-xl-2 {
    width: calc(8.3333333333% * 2);
  }
  .col-xl-3 {
    width: calc(8.3333333333% * 3);
  }
  .col-xl-4 {
    width: calc(8.3333333333% * 4);
  }
  .col-xl-5 {
    width: calc(8.3333333333% * 5);
  }
  .col-xl-6 {
    width: calc(8.3333333333% * 6);
  }
  .col-xl-7 {
    width: calc(8.3333333333% * 7);
  }
  .col-xl-8 {
    width: calc(8.3333333333% * 8);
  }
  .col-xl-9 {
    width: calc(8.3333333333% * 9);
  }
  .col-xl-10 {
    width: calc(8.3333333333% * 10);
  }
  .col-xl-11 {
    width: calc(8.3333333333% * 11);
  }
  .col-xl-12 {
    width: calc(8.3333333333% * 12);
  }
}
.flex-justify-start {
  justify-content: start !important;
}

.flex-align-start {
  align-items: start !important;
}

.flex-justify-end {
  justify-content: end !important;
}

.flex-align-end {
  align-items: end !important;
}

.flex-justify-center, .comments .dots, .input-group, .btn {
  justify-content: center !important;
}

.flex-align-center, .footer .footer-copyright .freepic, #quote .quote-content .quote, .input-group, .btn {
  align-items: center !important;
}

.flex-justify-space-between {
  justify-content: space-between !important;
}

.flex-align-space-between {
  align-items: space-between !important;
}

.flex-justify-space-around {
  justify-content: space-around !important;
}

.flex-align-space-around {
  align-items: space-around !important;
}

@media (min-width: 0) {
  .flex-justify-xs-start {
    justify-content: start !important;
  }
}

@media (min-width: 0) {
  .flex-align-xs-start {
    align-items: start !important;
  }
}

@media (min-width: 0) {
  .flex-justify-xs-end {
    justify-content: end !important;
  }
}

@media (min-width: 0) {
  .flex-align-xs-end {
    align-items: end !important;
  }
}

@media (min-width: 0) {
  .flex-justify-xs-center {
    justify-content: center !important;
  }
}

@media (min-width: 0) {
  .flex-align-xs-center {
    align-items: center !important;
  }
}

@media (min-width: 0) {
  .flex-justify-xs-space-between {
    justify-content: space-between !important;
  }
}

@media (min-width: 0) {
  .flex-align-xs-space-between {
    align-items: space-between !important;
  }
}

@media (min-width: 0) {
  .flex-justify-xs-space-around {
    justify-content: space-around !important;
  }
}

@media (min-width: 0) {
  .flex-align-xs-space-around {
    align-items: space-around !important;
  }
}

@media (min-width: 576px) {
  .flex-justify-sm-start {
    justify-content: start !important;
  }
}

@media (min-width: 576px) {
  .flex-align-sm-start {
    align-items: start !important;
  }
}

@media (min-width: 576px) {
  .flex-justify-sm-end {
    justify-content: end !important;
  }
}

@media (min-width: 576px) {
  .flex-align-sm-end {
    align-items: end !important;
  }
}

@media (min-width: 576px) {
  .flex-justify-sm-center {
    justify-content: center !important;
  }
}

@media (min-width: 576px) {
  .flex-align-sm-center {
    align-items: center !important;
  }
}

@media (min-width: 576px) {
  .flex-justify-sm-space-between {
    justify-content: space-between !important;
  }
}

@media (min-width: 576px) {
  .flex-align-sm-space-between {
    align-items: space-between !important;
  }
}

@media (min-width: 576px) {
  .flex-justify-sm-space-around {
    justify-content: space-around !important;
  }
}

@media (min-width: 576px) {
  .flex-align-sm-space-around {
    align-items: space-around !important;
  }
}

@media (min-width: 768px) {
  .flex-justify-md-start {
    justify-content: start !important;
  }
}

@media (min-width: 768px) {
  .flex-align-md-start {
    align-items: start !important;
  }
}

@media (min-width: 768px) {
  .flex-justify-md-end {
    justify-content: end !important;
  }
}

@media (min-width: 768px) {
  .flex-align-md-end {
    align-items: end !important;
  }
}

@media (min-width: 768px) {
  .flex-justify-md-center {
    justify-content: center !important;
  }
}

@media (min-width: 768px) {
  .flex-align-md-center {
    align-items: center !important;
  }
}

@media (min-width: 768px) {
  .flex-justify-md-space-between {
    justify-content: space-between !important;
  }
}

@media (min-width: 768px) {
  .flex-align-md-space-between {
    align-items: space-between !important;
  }
}

@media (min-width: 768px) {
  .flex-justify-md-space-around {
    justify-content: space-around !important;
  }
}

@media (min-width: 768px) {
  .flex-align-md-space-around {
    align-items: space-around !important;
  }
}

@media (min-width: 992px) {
  .flex-justify-lg-start {
    justify-content: start !important;
  }
}

@media (min-width: 992px) {
  .flex-align-lg-start {
    align-items: start !important;
  }
}

@media (min-width: 992px) {
  .flex-justify-lg-end {
    justify-content: end !important;
  }
}

@media (min-width: 992px) {
  .flex-align-lg-end {
    align-items: end !important;
  }
}

@media (min-width: 992px) {
  .flex-justify-lg-center {
    justify-content: center !important;
  }
}

@media (min-width: 992px) {
  .flex-align-lg-center {
    align-items: center !important;
  }
}

@media (min-width: 992px) {
  .flex-justify-lg-space-between {
    justify-content: space-between !important;
  }
}

@media (min-width: 992px) {
  .flex-align-lg-space-between {
    align-items: space-between !important;
  }
}

@media (min-width: 992px) {
  .flex-justify-lg-space-around {
    justify-content: space-around !important;
  }
}

@media (min-width: 992px) {
  .flex-align-lg-space-around {
    align-items: space-around !important;
  }
}

@media (min-width: 1200px) {
  .flex-justify-xl-start {
    justify-content: start !important;
  }
}

@media (min-width: 1200px) {
  .flex-align-xl-start {
    align-items: start !important;
  }
}

@media (min-width: 1200px) {
  .flex-justify-xl-end {
    justify-content: end !important;
  }
}

@media (min-width: 1200px) {
  .flex-align-xl-end {
    align-items: end !important;
  }
}

@media (min-width: 1200px) {
  .flex-justify-xl-center {
    justify-content: center !important;
  }
}

@media (min-width: 1200px) {
  .flex-align-xl-center {
    align-items: center !important;
  }
}

@media (min-width: 1200px) {
  .flex-justify-xl-space-between {
    justify-content: space-between !important;
  }
}

@media (min-width: 1200px) {
  .flex-align-xl-space-between {
    align-items: space-between !important;
  }
}

@media (min-width: 1200px) {
  .flex-justify-xl-space-around {
    justify-content: space-around !important;
  }
}

@media (min-width: 1200px) {
  .flex-align-xl-space-around {
    align-items: space-around !important;
  }
}

.offset-xs-1 {
  margin-left: 8.3333333333%;
}

.offset-xs-2 {
  margin-left: 16.6666666667%;
}

.offset-xs-3 {
  margin-left: 25%;
}

.offset-xs-4 {
  margin-left: 33.3333333333%;
}

.offset-xs-5 {
  margin-left: 41.6666666667%;
}

@media (min-width: 576px) {
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
}
@media (min-width: 576px) {
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
}
@media (min-width: 576px) {
  .offset-sm-3 {
    margin-left: 25%;
  }
}
@media (min-width: 576px) {
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
}
@media (min-width: 576px) {
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
}
@media (min-width: 768px) {
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
}
@media (min-width: 768px) {
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
}
@media (min-width: 768px) {
  .offset-md-3 {
    margin-left: 25%;
  }
}
@media (min-width: 768px) {
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
}
@media (min-width: 768px) {
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
}
@media (min-width: 992px) {
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
}
@media (min-width: 992px) {
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
}
@media (min-width: 992px) {
  .offset-lg-3 {
    margin-left: 25%;
  }
}
@media (min-width: 992px) {
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
}
@media (min-width: 992px) {
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
}
@media (min-width: 1200px) {
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
}
@media (min-width: 1200px) {
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
}
@media (min-width: 1200px) {
  .offset-xl-3 {
    margin-left: 25%;
  }
}
@media (min-width: 1200px) {
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
}
@media (min-width: 1200px) {
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
}
.flex-container, .comments .dots, .comments .comment-track .comment-item .comment-text .text, .comments .comment-track .comment-item .comment-text, .home .banner .banner-image .image-name, .footer .footer-copyright .freepic, .footer .footer-widgets .widget .footer-sosial ul, .footer .footer-book, .contacts, #quote .quote-content .quotes, #quote .quote-content .quote, #quote .quote-content, .section-image .dots .line, .section-image .dots, .section-content, .input-group, .btn-store, .btn {
  display: flex;
}

.flex-column, .comments .comment-track .comment-item .comment-text .text, .home .banner .banner-image .image-name, .footer .footer-book, .section-image .dots .line, .section-content {
  flex-direction: column;
}

.bg-primary {
  background-color: #2F2D4F !important;
}

.text-primary {
  color: #2F2D4F !important;
}

.border-primary {
  border-color: #2F2D4F !important;
}

.bg-secondary {
  background-color: #F2F3F3 !important;
}

.text-secondary {
  color: #F2F3F3 !important;
}

.border-secondary {
  border-color: #F2F3F3 !important;
}

.bg-success {
  background-color: #C2E6EA !important;
}

.text-success {
  color: #C2E6EA !important;
}

.border-success {
  border-color: #C2E6EA !important;
}

.bg-light {
  background-color: #f7f7f7 !important;
}

.text-light {
  color: #f7f7f7 !important;
}

.border-light {
  border-color: #f7f7f7 !important;
}

.bg-dark {
  background-color: #333 !important;
}

.text-dark {
  color: #333 !important;
}

.border-dark {
  border-color: #333 !important;
}

.bg-natural {
  background-color: #fff !important;
}

.text-natural {
  color: #fff !important;
}

.border-natural {
  border-color: #fff !important;
}

.bg-inky {
  background-color: #000 !important;
}

.text-inky {
  color: #000 !important;
}

.border-inky {
  border-color: #000 !important;
}

.bg-silvery {
  background-color: #999 !important;
}

.text-silvery {
  color: #999 !important;
}

.border-silvery {
  border-color: #999 !important;
}

.font-size-10, .footer .footer-copyright .freepic {
  font-size: 10px !important;
}

.font-size-11 {
  font-size: 11px !important;
}

.font-size-12 {
  font-size: 12px !important;
}

.font-size-13 {
  font-size: 13px !important;
}

.font-size-14, .comments .comment-track .comment-item .comment-text .text span, .comments .comment-track .comment-item .comment-text .text, .home .banner .banner-image .image-name span, .footer .footer-copyright, .section-text, .card-overview .overview-content p, .form-control {
  font-size: 14px !important;
}

.font-size-15 {
  font-size: 15px !important;
}

.font-size-16, .header .header-main-menu .mobile-nav li span {
  font-size: 16px !important;
}

.font-size-17 {
  font-size: 17px !important;
}

.font-size-18, .home .banner .banner-text p, .footer .footer-widgets .widget h6, .btn span {
  font-size: 18px !important;
}

.font-size-19 {
  font-size: 19px !important;
}

.font-size-20, .contacts i {
  font-size: 20px !important;
}

.font-size-21 {
  font-size: 21px !important;
}

.font-size-22 {
  font-size: 22px !important;
}

.font-size-23 {
  font-size: 23px !important;
}

.font-size-24, .card-overview .overview-content h6, .btn i {
  font-size: 24px !important;
}

.font-size-25 {
  font-size: 25px !important;
}

.font-size-26 {
  font-size: 26px !important;
}

.font-size-27 {
  font-size: 27px !important;
}

.font-size-28 {
  font-size: 28px !important;
}

.font-size-29 {
  font-size: 29px !important;
}

.font-size-30 {
  font-size: 30px !important;
}

.font-size-31 {
  font-size: 31px !important;
}

.font-size-32 {
  font-size: 32px !important;
}

.font-size-33 {
  font-size: 33px !important;
}

.font-size-34 {
  font-size: 34px !important;
}

.font-size-35 {
  font-size: 35px !important;
}

.font-size-36 {
  font-size: 36px !important;
}

.font-size-37 {
  font-size: 37px !important;
}

.font-size-38 {
  font-size: 38px !important;
}

.font-size-39 {
  font-size: 39px !important;
}

.font-size-40 {
  font-size: 40px !important;
}

.font-size-41 {
  font-size: 41px !important;
}

.font-size-42 {
  font-size: 42px !important;
}

.font-size-43 {
  font-size: 43px !important;
}

.font-size-44 {
  font-size: 44px !important;
}

.font-size-45 {
  font-size: 45px !important;
}

.font-size-46 {
  font-size: 46px !important;
}

.font-size-47 {
  font-size: 47px !important;
}

.font-size-48, .section-heading {
  font-size: 48px !important;
}

.font-size-49 {
  font-size: 49px !important;
}

.font-size-50 {
  font-size: 50px !important;
}

.font-size-51 {
  font-size: 51px !important;
}

.font-size-52 {
  font-size: 52px !important;
}

.font-size-53 {
  font-size: 53px !important;
}

.font-size-54 {
  font-size: 54px !important;
}

.font-size-55 {
  font-size: 55px !important;
}

.font-size-56 {
  font-size: 56px !important;
}

.font-size-57 {
  font-size: 57px !important;
}

.font-size-58 {
  font-size: 58px !important;
}

.font-size-59 {
  font-size: 59px !important;
}

.font-size-60 {
  font-size: 60px !important;
}

.font-size-61 {
  font-size: 61px !important;
}

.font-size-62 {
  font-size: 62px !important;
}

.font-size-63 {
  font-size: 63px !important;
}

.font-size-64 {
  font-size: 64px !important;
}

.font-size-65 {
  font-size: 65px !important;
}

.font-size-66 {
  font-size: 66px !important;
}

.font-size-67 {
  font-size: 67px !important;
}

.font-size-68 {
  font-size: 68px !important;
}

.font-size-69 {
  font-size: 69px !important;
}

.font-size-70 {
  font-size: 70px !important;
}

.font-size-71 {
  font-size: 71px !important;
}

.font-size-72 {
  font-size: 72px !important;
}

.font-size-73 {
  font-size: 73px !important;
}

.font-size-74 {
  font-size: 74px !important;
}

.font-size-75 {
  font-size: 75px !important;
}

.font-size-76 {
  font-size: 76px !important;
}

.font-size-77 {
  font-size: 77px !important;
}

.font-size-78 {
  font-size: 78px !important;
}

.font-size-79 {
  font-size: 79px !important;
}

.font-size-80 {
  font-size: 80px !important;
}

.font-size-81 {
  font-size: 81px !important;
}

.font-size-82 {
  font-size: 82px !important;
}

.font-size-83 {
  font-size: 83px !important;
}

.font-size-84 {
  font-size: 84px !important;
}

.font-size-85 {
  font-size: 85px !important;
}

.font-size-86 {
  font-size: 86px !important;
}

.font-size-87 {
  font-size: 87px !important;
}

.font-size-88 {
  font-size: 88px !important;
}

.font-size-89 {
  font-size: 89px !important;
}

.font-size-90 {
  font-size: 90px !important;
}

.font-size-91 {
  font-size: 91px !important;
}

.font-size-92 {
  font-size: 92px !important;
}

.font-size-93 {
  font-size: 93px !important;
}

.font-size-94 {
  font-size: 94px !important;
}

.font-size-95 {
  font-size: 95px !important;
}

.font-size-96 {
  font-size: 96px !important;
}

.font-size-97 {
  font-size: 97px !important;
}

.font-size-98 {
  font-size: 98px !important;
}

.font-size-99 {
  font-size: 99px !important;
}

.font-size-100 {
  font-size: 100px !important;
}

.font-weight-lighter {
  font-weight: lighter !important;
}

.font-weight-light {
  font-weight: 300 !important;
}

.font-weight-normal {
  font-weight: normal !important;
}

.font-weight-bold, .footer .footer-widgets .widget .footer-menu {
  font-weight: bold !important;
}

.font-weight-bolder {
  font-weight: bolder !important;
}

.font-weight-200 {
  font-weight: 200 !important;
}

.font-weight-300, .comments .comment-track .comment-item .comment-text .text span, .home .banner .banner-image .image-name span, .section-text {
  font-weight: 300 !important;
}

.font-weight-400, .card-overview .overview-content p {
  font-weight: 400 !important;
}

.font-weight-500, .header .header-main-menu .mobile-nav li span {
  font-weight: 500 !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.font-weight-700, #service .service-item span, .home .banner .banner-image .image-name p, .footer .footer-widgets .widget h6, .section-heading, .card-overview .overview-content h6, .btn span, .btn {
  font-weight: 700 !important;
}

.font-weight-800 {
  font-weight: 800 !important;
}

.font-weight-900 {
  font-weight: 900 !important;
}

.font-weight-1000 {
  font-weight: 1000 !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }
}
@media (min-width: 993px) {
  .container {
    max-width: 960px;
  }
  .burger-menu {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .home {
    height: 1164px;
  }
  .header-nav-item,
  .d-none {
    display: none !important;
  }
  .btn-store {
    justify-content: center;
  }
  .banner-text {
    text-align: center;
  }
  .image-name {
    right: 10px !important;
  }
  .stiky-arrow-up {
    left: 88% !important;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  .comment-track {
    grid-auto-columns: 100% !important;
  }
  .overview-content h6 {
    letter-spacing: 0 !important;
  }
  .widget {
    text-align: center;
  }
  .footer-logo {
    margin-top: 10px;
  }
  .footer-sosial {
    display: flex;
    justify-content: center;
  }
  .contacts,
  .freepic {
    justify-content: center;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .banner {
    overflow: hidden;
  }
  .banner .banner-text {
    display: inline-block;
  }
  .banner .banner-text h1 {
    font-size: 38px !important;
  }
  .banner .banner-text p {
    max-width: 100% !important;
  }
}
.btn {
  width: auto;
  height: 50px;
  border: 1px solid #2F2D4F;
  border-radius: 40px;
  font-size: 18px;
  background-color: #C2E6EA;
  color: #2F2D4F;
  transition: all 0.3s ease;
  gap: 10px;
}
.btn span {
  display: block;
}
.btn:hover {
  background-color: #f7f7f7;
  color: #2F2D4F;
}

.form-control {
  width: 100% !important;
  color: #fff;
  background-color: transparent;
}
.form-control::placeholder {
  color: #fff;
}

.input-group {
  background-color: rgba(242, 243, 243, 0.4941176471);
  border-radius: 6px;
  border: 1px solid #999;
  text-align: center;
}
.input-group i {
  width: 50px;
}
.input-group:focus {
  border-color: #C2E6EA;
  outline: 0;
  box-shadow: 0 0 0 0 2rem rgba(0, 123, 255, 0.25);
}

.card-overview {
  position: relative;
  background-color: #C2E6EA;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  transition: all 0.3s;
  transform: translateX(0);
}
.card-overview .card-icon {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #2F2D4F;
  text-align: center;
  border-radius: 50%;
  transition: all 0.3s;
}
.card-overview .card-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
}
.card-overview .overview-content {
  width: calc(100% - 60px);
  transition: all 0.3s;
}
.card-overview .overview-content h6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333;
  line-height: 1.2;
}
.card-overview .overview-content p {
  line-height: 1.75;
  color: #2F2D4F;
}
.card-overview:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  transform: translateX(-5px);
  background-color: #2F2D4F;
}
.card-overview:hover .card-icon {
  background-color: #f7f7f7;
}
.card-overview:hover .card-icon img {
  filter: invert(21%) sepia(100%) saturate(2423%) hue-rotate(227deg) brightness(92%) contrast(87%);
}
.card-overview:hover h6,
.card-overview:hover p {
  color: #f7f7f7;
}

.header {
  position: fixed;
  padding: 40px 20px;
  background: #fff;
  transition: all 0.9s ease;
  width: 100%;
  z-index: 200;
}
.header.sticky {
  z-index: 799;
  padding: 20px;
  background-color: #fff;
}
.header.sticky .header-nav-link span {
  position: relative;
  color: #000;
  transition: 0.3s ease;
}
.header.sticky .header-nav-link span::after {
  background-color: #000;
}
.header.sticky .header-nav-link span:hover {
  color: #2F2D4F;
}
.header.sticky .header-nav-link i {
  color: #000;
}
.header.sticky .header-nav-link i:hover {
  color: #2F2D4F;
}
.header.sticky .burger-menu .burger-menu-bar, .header.sticky .burger-menu::before, .header.sticky .burger-menu::after {
  background-color: #000;
}
.header .header-main-menu .header-nav-link {
  padding: 10px 20px;
  color: #000;
}
.header .header-main-menu .header-nav-link span {
  font-weight: 500;
  overflow: hidden;
  position: relative;
}
.header .header-main-menu .header-nav-link span::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 1px;
  background-color: #2F2D4F;
  opacity: 0.4;
  transition: all 0.3s;
}
.header .header-main-menu .header-nav-link span:hover::after {
  width: 100%;
}
.header .header-main-menu .burger-menu {
  position: relative;
  height: 30px;
  width: 35px;
}
.header .header-main-menu .burger-menu .burger-menu-bar {
  position: absolute;
  height: 3px;
  width: 35px;
  background-color: #000;
  top: 50%;
  transform: translateY(-50%);
}
.header .header-main-menu .burger-menu::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 3px;
  top: 0;
  transition: 0.3s;
  background-color: #000;
}
.header .header-main-menu .burger-menu::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 3px;
  bottom: 0;
  background-color: #000;
  transition: 0.3s;
}
.header .header-main-menu .burger-menu.is-active {
  position: fixed;
  z-index: 99;
}
.header .header-main-menu .burger-menu.is-active::before {
  background-color: #000;
  z-index: 99;
  transform: rotate(-45deg) translate(-9px, 9px);
}
.header .header-main-menu .burger-menu.is-active::after {
  background-color: #000;
  z-index: 99;
  transform: rotate(45deg) translate(-10px, -11px);
}
.header .header-main-menu .burger-menu.is-active .burger-menu-bar {
  opacity: 0;
}
.header .header-main-menu .mobile-nav {
  position: fixed;
  top: 0;
  right: 100%;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 98;
  padding: 20px 30px;
  transition: all 0.4s ease;
}
.header .header-main-menu .mobile-nav li span {
  color: #000;
  transition: all 0.3s ease;
}
.header .header-main-menu .mobile-nav li span:hover {
  color: #2F2D4F;
}
.header .header-main-menu .mobile-nav.is-active {
  right: 0;
}

.section-content {
  gap: 20px;
}

.section-heading {
  color: #2F2D4F;
}

.section-text {
  color: #2F2D4F;
  line-height: 1.5;
}

.section-image {
  position: relative;
}
.section-image .dots {
  gap: 10px;
}
.section-image .dots .line {
  gap: 10px;
}
.section-image .dots .line .dot {
  background-color: #C2E6EA;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}
.section-image .top {
  position: absolute;
  top: 0;
  left: 30%;
}
.section-image .left {
  position: absolute;
  bottom: 0;
  right: 30%;
}
.section-image .polygon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  z-index: -1;
  filter: grayscale(100%);
}
.section-image img {
  width: 100%;
  z-index: 2;
}

.white {
  color: #fff;
}

#quote .quote-content {
  min-height: 60%;
  gap: 10px;
}
#quote .quote-content .quotes {
  min-height: 100%;
}
#quote .quote-content .quotes.after {
  align-items: end;
}
#quote .quote-content img {
  width: 50px;
  height: 50px;
}

.contacts i {
  width: 24px;
}

.footer {
  position: relative;
  transform: translateY(100px);
  clear: both;
  color: #f7f7f7;
  background: #2F2D4F;
}
.footer .footer-book {
  gap: 20px;
  width: 70%;
  color: #2F2D4F;
  text-align: center;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #F2F3F3;
}
.footer .footer-widgets .widget {
  position: relative;
}
.footer .footer-widgets .widget h6 {
  color: #fff;
}
.footer .footer-widgets .widget p {
  line-height: 1.75;
}
.footer .footer-widgets .widget .footer-sosial ul li {
  margin: 0 15px;
  color: #fff;
  transition: all 0.3s ease;
}
.footer .footer-widgets .widget .footer-sosial ul li:hover {
  color: #C2E6EA;
}
.footer .footer-widgets .widget .footer-sosial ul li:first-child {
  margin-left: 0;
}
.footer .footer-widgets .widget .footer-menu li {
  transition: all 0.3s ease;
}
.footer .footer-widgets .widget .footer-menu li:hover {
  color: #C2E6EA;
}
.footer .footer-copyright {
  position: relative;
  clear: both;
  border-top: 1px solid #222;
  text-align: center;
}
.footer .footer-copyright .freepic {
  gap: 5px;
}

.home {
  width: 100%;
  position: relative;
  z-index: 1;
}
.home .banner {
  padding-top: 150px;
  max-width: 100%;
  background-color: #F2F3F3;
}
.home .banner .banner-text {
  max-width: 100%;
}
.home .banner .banner-text h1 {
  max-width: 100%;
  color: #2F2D4F;
  font-size: 54px;
}
.home .banner .banner-text p {
  max-width: 100%;
  color: #2F2D4F;
  margin-bottom: 30px;
  line-height: 2rem;
}
.home .banner .banner-image {
  position: relative;
}
.home .banner .banner-image img {
  max-width: 100%;
  min-height: 70vh;
  object-fit: cover;
  z-index: 1;
}
.home .banner .banner-image .image-name {
  gap: 10px;
  background-color: #C2E6EA;
  position: absolute;
  bottom: 0;
  right: -10px;
  z-index: 2;
}
.home .banner .banner-image .dots {
  display: flex;
  gap: 20px;
}
.home .banner .banner-image .dots .line {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home .banner .banner-image .dots .line .dot {
  width: 6px;
  height: 6px;
  background: #333;
  border-radius: 50%;
}
.home .banner .banner-image .polygon img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  transform: translate(20px, 60px);
  width: 100%;
  height: 100%;
}

.stiky-arrow-up {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 50px;
  height: 50px;
  background: #333;
  color: #fff;
  bottom: 20px;
  left: 95%;
  border-radius: 50%;
  z-index: 99;
}

.overview {
  position: relative;
  background-color: #F2F3F3;
  overflow: hidden;
  padding-top: 100px;
  z-index: 0;
}
.overview::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 48%;
  top: 50%;
  width: 1200px;
  height: 1000px;
  background-color: #999;
  border-radius: 120px;
  transform: skew(-15deg) rotate(38deg) translateY(-50%);
}
.overview .overview-image {
  min-width: 100%;
}

.comments .comment-track {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 33.3333333333%;
  overflow: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
  min-width: 100%;
}
.comments .comment-track::-webkit-scrollbar {
  display: none;
}
.comments .comment-track .comment-item {
  background-color: #F2F3F3;
  border: 1px solid #2F2D4F;
  transition: all 0.3s ease;
}
.comments .comment-track .comment-item:hover {
  background-color: #2F2D4F;
  color: #fff;
}
.comments .comment-track .comment-item .comment-text {
  gap: 10px;
}
.comments .comment-track .comment-item .comment-text img {
  width: 20px;
}
.comments .comment-track .comment-item .comment-text .text {
  gap: 20px;
}
.comments .no-transition {
  scroll-behavior: auto;
}
.comments .dragging {
  cursor: grab;
  user-select: none;
  scroll-behavior: auto;
  scroll-snap-type: none;
}
.comments .dots {
  text-align: center;
}
.comments .dots .dot {
  width: 10px;
  height: 10px;
  border: 1px solid #2F2D4F;
  border-radius: 50%;
  cursor: pointer;
}
.comments .dots .active-dot {
  background-color: #2F2D4F;
}

#service .service-item {
  text-align: center;
}
#service .service-item .service-icon {
  background-color: #F2F3F3;
  border-radius: 50%;
}
#service .service-item .service-icon img {
  width: 100%;
}
.secondary-bg {
  background-color: #F2F3F3;
  color: #2F2D4F;
}

.primary-bg {
  background-color: #2F2D4F;
  color: #fff;
}/*# sourceMappingURL=style.css.map */