@media (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }
}

@media (min-width: 993px) {
  .container {
    max-width: 960px;
  }

  .burger-menu {
    display: none;
  }
}



@media screen and (max-width: 992px) {
  .home {
    height: 1164px;
  }

  .header-nav-item,
  .d-none {
    display: none !important;
  }

  .btn-store {
    justify-content: center;
  }


  .banner-text {
    text-align: center;
  }

  .image-name {
    right: 10px !important;
  }

  .stiky-arrow-up {
    left: 88% !important;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }

  .comment-track {
    grid-auto-columns: 100% !important;
  }

  .overview-content {
    h6 {
      letter-spacing: 0 !important;
    }
  }

  .widget {
    text-align: center;
  }

  .footer-logo {
    margin-top: 10px;
  }

  .footer-sosial {
    display: flex;
    justify-content: center;
  }

  .contacts,
  .freepic {
    justify-content: center;
  }
}


@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .banner {
    overflow: hidden;

    .banner-text {
      display: inline-block;


      h1 {
        font-size: 38px !important;
      }

      p {
        max-width: 100% !important;
      }
    }
  }
}