.footer {
    position: relative;
    transform: translateY(100px);
    clear: both;
    color: map-get($colors, light);
    background: map-get($colors, primary);

    .footer-book {
        @extend .p-5;
        @extend .flex-container;
        @extend .flex-column;
        gap: 20px;
        width: 70%;
        color: map-get($colors, primary );
        text-align: center;
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
        background-color: map-get($colors, secondary)
    }

    .footer-widgets {
        @extend .py-10;

        .widget {
            @extend .py-5;

            position: relative;

            h6 {
                @extend .font-size-18;
                @extend .mb-6;
                @extend .font-weight-700;
                color: map-get($colors, natural)
            }

            p {
                @extend .py-5;
                line-height: 1.75
            }


            .footer-sosial {
                ul {
                    @extend .flex-container;

                    li {
                        margin: 0 15px;
                        color: map-get($colors, natural);
                        transition: all 0.3s ease;

                        &:hover {
                            color: map-get($colors, success);
                        }

                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }

            .footer-menu {
                @extend .font-weight-bold;

                li {
                    @extend .mb-2;
                    transition: all 0.3s ease;

                    &:hover {
                        color: map-get($colors, success);
                    }
                }
            }
        }

    }

    .footer-copyright {
        @extend .py-6;
        @extend .font-size-14;
        position: relative;
        clear: both;
        border-top: 1px solid #222;
        text-align: center;

        .freepic {
            @extend .flex-container;
            @extend .flex-align-center;
            @extend .font-size-10;

            gap: 5px;
        }
    }
}