// ===== Main page start start =====

.home {
  width: 100%;
  position: relative;
  z-index: 1;



  .banner {
    padding-top: 150px;
    max-width: 100%;
    background-color: map-get($colors, secondary);

    .banner-text {
      max-width: 100%;

      h1 {
        @extend .pb-5;
        max-width: 100%;
        color: map-get($colors, primary);
        font-size: 54px;
      }

      p {
        @extend .font-size-18;
        max-width: 100%;
        color: map-get($colors, primary);
        margin-bottom: 30px;
        line-height: 2rem;
      }
    }

    .banner-image {
      position: relative;


      img {
        max-width: 100%;
        min-height: 70vh;
        object-fit: cover;
        z-index: 1;
      }

      .image-name {
        @extend .py-2;
        @extend .px-5;
        @extend .flex-container;
        @extend .flex-column;
        gap: 10px;
        background-color: map-get($colors, success);
        position: absolute;
        bottom: 0;
        right: -10px;
        z-index: 2;

        p {
          @extend .font-weight-700;
        }

        span {
          @extend .font-weight-300;
          @extend .font-size-14;
        }
      }

      .dots {
        display: flex;
        gap: 20px;

        .line {
          display: flex;

          flex-direction: column;
          gap: 20px;

          .dot {
            width: 6px;
            height: 6px;
            background: map-get($colors, dark);
            border-radius: 50%;
          }
        }
      }

      .polygon img {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        transform: translate(20px, 60px);
        width: 100%;
        height: 100%;
      }

    }
  }
}

// ===== Arrow up start =====
.stiky-arrow-up {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 50px;
  height: 50px;
  background: map-get($colors, dark);
  color: map-get($colors, natural);
  bottom: 20px;
  left: 95%;
  border-radius: 50%;
  z-index: 99;
}

// ===== Arrow up end =====