.overview {
  position: relative;
  background-color: map-get($colors, secondary );
  overflow: hidden;
  padding-top: 100px;
  z-index: 0;
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 48%;
    top: 50%;
    width: 1200px;
    height: 1000px;
    background-color: map-get($colors, silvery );
    border-radius: 120px;
    transform: skew(-15deg) rotate(38deg) translateY(-50%);
  }
  .overview-image {
    min-width: 100%;
  }
  
}
