// Merce class for all buttons on page
.btn {
  @extend .flex-container;
  @extend .flex-justify-center;
  @extend .flex-align-center;
  @extend .font-weight-700;
  @extend .px-5;
  @extend .py-1;
  @extend .mr-3;

  width: auto;
  height: 50px;
  border: 1px solid map-get($colors, primary);
  border-radius: 40px;
  font-size: 18px;
  background-color: map-get($colors, success);
  color: map-get($colors, primary);
  transition: all 0.3s ease;
  gap: 10px;

  i {
    @extend .font-size-24;
  }

  span {
    @extend .font-size-18;
    @extend .font-weight-700;
    display: block;
  }

  &:hover {
    background-color: map-get($colors, light);
    color: map-get($colors, primary);
  }
}

.btn-store{
  @extend .flex-container;
}