// Merce style for inputs on page
.form-control {
  @extend .font-size-14;
  @extend .p-2;
  width: 100% !important;
  
  color: map-get($colors, natural);
  background-color: transparent;

  &::placeholder {
    color: #fff;
  }


}

.input-group {
  @extend .flex-container;
  @extend .flex-align-center;
  @extend .flex-justify-center;
  background-color: #f2f3f37e;
  border-radius: 6px;
  border: 1px solid map-get($colors, silvery);
  text-align: center;

  i {
    width: 50px;
  }

  &:focus {
    border-color: map-get($colors, success);
    outline: 0;
    box-shadow: 0 0 0 0 2rem rgba(0, 123, 255, 0.25);
  }
}